.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.catalog{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid:gap 1rem;
    padding:5px;
    background-color:  #fff;
    border-radius: 10px;
    border:none;
    
}
.product{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center; 
     padding: 1.5em;
     width: 900px;
     margin-top: 30px;
     background-color: whitesmoke;
     margin-left: 330px;
}
.product img{
    width: 40%;
    height: 70%;
}
.product p{
    font-weight: 600;
    width: 25%;
    font-size: 20px;
    margin-left: 45px;
}
.product button{
    background-color : black;
    width:30%;
    height: 34px;;
    border: none;
    border-radius:10px;
    padding: 0.5 rem;
    cursor: pointer;
    color:aliceblue;
    font-size: 20px;
}
.product button:hover{
    color: rgb(189, 203, 29);
}
body::-webkit-scrollbar {
    display: none;
}
