main{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
}
.login-form{
    width: 100%;
    max-width: 400px;
    margin-bottom: 2rem;
}
.login-form form{
    display: grid;
    grid-gap: 1rem;
}
.login-form input{
    padding: 0.5rem;
}
.login-form button{
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.login-form button:hover{
    background-color: #555;
}